html, body{
  min-height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

svg{
  background-color: rgb(209, 197, 197);
}

#canvas {
   min-width: 1000px;
   min-height: 600px;
}

#tooltip{
  visibility: hidden;
  height: auto;
  width: auto;
}